@font-face {
    font-family: hackerFont;
    src: url(hack.ttf);
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
}

body {
    background: #181818;
    text-align: center;
    color: white;
    font-family: Copperplate, Papyrus, fantasy;
}

h1,
h5 {
    font-family: hackerFont;
}

h1 {
    color: lime;
}

h5 {
    color: white;
}

textarea {
    width: 50%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: transparent;
    font-size: 16px;
    resize: none;
    color: white;
}

textarea:focus {
    border: 2px solid lime;
    outline: none;
}

.inject_btn {
    font-family: Copperplate, Papyrus, fantasy;
    margin-top: 1em;
    width: 20%;
    border-radius: 0.5rem;
    padding: 1em;
    cursor: pointer;
    background-color: aliceblue;
    border: 2px solid #860111;
    background-color: transparent;
    color: white;
}
.inject_btn:hover {
    background-color: #860111;
}

.table_inject_btn{
    font-family: Copperplate, Papyrus, fantasy;
    width: fit-content;
    border-radius: 0.5rem;
    padding: 1em;
    cursor: pointer;
    background-color: aliceblue;
    border: 2px solid lime;
    background-color: transparent;
    color: white;
}
.table_inject_btn:hover{
    background-color: lime;
    color: black;
}

.utility_table {
    width: 80%;
    border: 0.1em solid white;
    margin-left: auto;
    margin-right: auto;
}

.utility_table th,
td {
    padding: 0.5em;
    border: 0.1em solid white;
}

.utility_table td {
    font-family: "Courier New", Courier, monospace;
    text-align: left;
}

/* ================ Navbar CSS ================ */
* {
    transition: all 0.3s ease-in-out;
}

.container {
    clear: both;
    overflow: auto;
    padding: 1% 1% 0% 1%;
}

nav {
    float: right;
}

.logo img {
    float: left;
    cursor: pointer;
}

ul li {
    display: inline-block;
    padding: 10px;
    color: white;
    cursor: pointer;
}

ul li:hover {
    color: lime;
}
/* ============================================= */
